/* https://upload.wikimedia.org/wikipedia/commons/e/ec/Soccer_ball.svg */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    135deg,
    #228b22 25%,
    #32cd32 25%,
    #32cd32 50%,
    #228b22 50%,
    #228b22 75%,
    #32cd32 75%
  );
  background-size: 100px 100px;
}

.ball {
  width: 100px;
  height: 100px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ec/Soccer_ball.svg");
  background-size: cover;
  border-radius: 50%;
  position: relative;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(200px);
  }
}
